<!-- ==================== Start Navbar ==================== -->

<nav class="navbar change navbar-expand-lg">
  <div class="container">

    <!-- Logo -->
    <a class="logo" routerLink="home">
      <img src="assets/img/logo-light.png" alt="logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"><i class="fas fa-bars"></i></span>
    </button>

    <!-- navbar links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Services</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="services">Web Design</a>
            <a class="dropdown-item" routerLink="services">Web Development</a>
            <a class="dropdown-item" routerLink="services">Ecommerce</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="works">Portfolio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="career">Career</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Contact</a>
        </li>
      </ul>
      <!--<div class="search">
          <span class="icon pe-7s-search cursor-pointer"></span>
          <div class="search-form text-center custom-font">
              <form>
                  <input type="text" name="search" placeholder="Search">
              </form>
              <span class="close pe-7s-close cursor-pointer"></span>
          </div>
      </div>-->
    </div>
  </div>
</nav>

<!-- ==================== End Navbar ==================== -->